# sudo ln -s  /home/mustafa/web/minecraft-dc-bot/minecraft-dc-bot.service  /lib/systemd/system/minecraft-dc-bot.service

[Unit]
Description=blog

[Service]
Type=simple
WorkingDirectory=/home/mustafa/web/astro-blog
ExecStart=/home/mustafa/web/astro-blog/build.sh
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
