/*
  Place global styles here.
 */

/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply box-border;
}

html {
	scrollbar-gutter: stable;
}

body {
	@apply m-0 bg-gray-50 p-0 text-gray-800 transition-all duration-300 dark:bg-gray-800 dark:text-gray-50;
}

.copy-code {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	border-radius: 0.125rem;
	--tw-bg-opacity: 1;
	background-color: rgb(55 48 163 / var(--tw-bg-opacity));
	padding: 0.25rem 0.5rem;
	font-size: 0.75rem;
	line-height: 1rem;
}

.copy-code:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(49 46 129 / var(--tw-bg-opacity));
}
