/*
  Place global styles here.
 */

/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply box-border;
}

html {
	scrollbar-gutter: stable;
}

body {
	@apply m-0 bg-gray-50 p-0 text-gray-800 transition-all duration-300 dark:bg-gray-800 dark:text-gray-50;
}

/* TODO: move this into scoped css*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}
h1 {
  @apply text-3xl font-extrabold  md:text-4xl
}
h2 {
  @apply text-2xl font-extrabold
}
h3 {
  @apply text-xl font-bold
}
h4 {
  @apply text-xl font-bold
}
h5 {
  @apply text-lg font-bold
}
h6 {
  @apply text-lg font-bold
}
strong,
b {
  @apply font-bold
}
blockquote {
  @apply p-4 my-4 border-s-4 border-gray-300 bg-gray-50 dark:border-gray-500 dark:bg-gray-800
}
blockquote p {
  @apply text-lg italic font-medium leading-relaxed text-gray-900 dark:text-white
}
table {
  @apply w-full text-sm text-left rtl:text-right 
}
thread {
  @apply text-xs uppercase bg-gray-50 dark:bg-gray-600
}
tr {
  @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700
}
th {
  @apply px-6 py-3
}
td {
  @apply px-6 py-4
}
ul {
  @apply max-w-md space-y-1 list-disc list-inside
}
ol {
  @apply max-w-md space-y-1 list-decimal list-inside
}
ul  ul {
  @apply ps-5
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

.copy-code {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	border-radius: 0.125rem;
	--tw-bg-opacity: 1;
	background-color: rgb(55 48 163 / var(--tw-bg-opacity));
	padding: 0.25rem 0.5rem;
	font-size: 0.75rem;
	line-height: 1rem;
}

.copy-code:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(49 46 129 / var(--tw-bg-opacity));
}
