<select
	x-data={`{
		theme: localStorage.getItem('theme') || 'dark',

		updateTheme: function() {
			let resolvedTheme = 'dark';
			
			if (this.theme === 'light') {
				resolvedTheme = 'light';
			} else if (this.theme === 'system') {
				resolvedTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
			} else {
				resolvedTheme = 'dark';
			}

			localStorage.setItem('theme', this.theme);
			document.documentElement.dataset.theme = resolvedTheme;
			document.documentElement.dataset.code = resolvedTheme === 'dark' ? 'dracula' : 'github-light';
		},

		switchTheme: function(newValue) {
			this.theme = newValue;
			this.updateTheme();
		}
	}`}
	aria-label="Theme selector"
	name="theme-selector"
	id="theme-selector"
	class="dark:gray-50 cursor-pointer focus-visible:outline-none dark:bg-gray-800"
	x-init="updateTheme()"
	x-model="theme"
	@change="switchTheme($event.target.value)">
	<option value="dark">Dark</option>
	<option value="light">Light</option>
	<option value="system">System</option>
</select>
